@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.upload-container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.upload-container> h1 {
  font-weight: bold;
  text-align: center;
  padding: 50px 0px;
}

.upload-inner-container {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

.upload-btn {
  background-image: linear-gradient(to bottom right, #4064d8, #4ad8dd); 
  box-shadow: rgba(175, 175, 175, 0.5) 0px 2px 4px 0px;
  will-change: box-shadow;
  height: 60px;
  padding: 0 100px;
  line-height: 40px;
  color:#FFF;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out;
  font-size: 1.2em;
}

.upload-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 14px 28px, rgba(0, 0, 0, 0.08) 0px 10px 10px;
}

.upload-btn:disabled {
  opacity: 0.6;
}

.upload-btn:disabled:hover {
  box-shadow: rgba(175, 175, 175, 0.5) 0px 2px 4px 0px;
}

.upload-btn:focus, .upload-btn:active {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 14px 28px, rgba(0, 0, 0, 0.08) 0px 10px 10px;
  outline: 0;
}
   
.upload-result-container {
  display: flex;
}

.upload-image-preview {
  height: 200px;
  background-size: contain;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
}
.list-image-preview {
  height: 200px;
  width: 200px;
  background-size: contain;
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
}
.heading-container {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 50px;
  font-weight: bold;
}
.list-container {
  padding: 0px 100px;
}

.flex-1 {
  padding: 8px;
  flex: 1;
}
.flex-01 {
  padding: 8px;
  flex: 0.1;
}

.flex-2 {
  padding: 8px;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-2> p {
  height: 30px;
  font-style: italic;
}
